body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: snow;
}

#title {
    margin-top: 45px;
    margin-left: 75px;
    font-size: 20px;
    font-weight: 575;
    font-style: italic;
}

button {
    font-family: inherit;
    padding: 5px 5px;
    width: 90px;
    margin-right: 7px;
}

#interface {
    margin-top: 35px;
    display: flex;
}

#buttons {
    display: flex;
    flex-direction: column;
    margin-left: 35px;
    gap: 10px;
    width: 350px;
}

#functionals {
    display: flex;
    justify-content: space-between;

}

#sizers {
    display: flex;
    justify-content: space-between;
}

#infoText {
    margin-top: 5px;
    font-size: 14px;
}

#container {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 450px;
    height: 450px;
    margin-left: auto;
    margin-right: 400px;
    outline: 1px solid black;
}

.square {
    width: var(--size);
    height: var(--size);
    box-sizing: border-box;
    outline: var(--grid);
    background-color: var(--backgroundColor);
}